.chat
  .chat__head
    .chat__head__timer
      =link_to root_path do
        = image_tag("/骸骨.jpg",  class: 'gazo')
  .chat__content
    = render partial: 'message', collection: @messages
  = render "messages/chat-form"