.chat {
  box-sizing: border-box;
  background-image: url("/kowai.jpg");
  background-color: black;
  overflow: hidden;
  &__head {
    height: 100px;
    background-size: 60px;
    animation: anime 0.5s ease infinite alternate;
    @keyframes anime {
      0% {
        background-color: rgba(0, 0, 0, 0);
        top: 50px;
      }
      100% {
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
      }
    }
    &__timer {
      background: rgba(255, 255, 255, 0.1);
      background-size: 200px;
      background-position: center;
      width: 100px;
      height: 100px;
      margin: auto;
      img {
        width: 120px;
        height: 120px;
      }
    }
  }
  &__content {
    overflow: scroll;
    width: 100%;
    height: 769px;
    animation: anime 0.5s ease infinite alternate;
    @keyframes anime {
      0% {
        background-color: rgba(0, 0, 0, 0);
        top: 50px;
      }
      100% {
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
      }
    }
    &__message {
      word-break: break-all;
      text-align: justify;
      box-sizing: content-box;
      padding: 10px;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      &__text {
        position: relative;
        display: inline-block;
        border-radius: 0%;
        padding: 10px;
        background: #88b7d5;
        border: 4px solid #c2e1f5;
      }
    }
  }
  &__form {
    box-sizing: border-box;
    bottom: 0;
    height: 100px;
    display: flex;
    &__box {
      position: relative;
      box-sizing: border-box;
      height: 30px;
      width: 1325px;
      .t-box {
        position: absolute;
        margin: 10px 0 20px 10px;
        box-sizing: border-box;
        width: 1325px;
        height: 80px;
      }
    }
    &__btn {
      position: absolute;
      right: 0;
      margin-top: 10px;
      margin-left: 10px;
      width: 100px;
      height: 80px;
      .s-btn {
        margin-left: 10px;
        margin-top: 15px;
        display: inline-block;
        border-radius: 5%;
        font-size: 20pt;
        text-align: center;
        cursor: pointer;
        padding: 12px 12px;
        background: #160303;
        color: #ffffff;
        line-height: 1em;
        opacity: 1;
        transition: 0.3s;
        box-shadow: 6px 6px 4px #666666;
      }
    }
  }
}

.chat__content__message__text:after,
.chat__content__message__text:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.chat__content__message__text:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #88b7d5;
  border-width: 10px;
  margin-top: -10px;
}
.chat__content__message__text:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #c2e1f5;
  border-width: 16px;
  margin-top: -16px;
}
